
html {
  background-color: #E6E6EA;
}
.parent{
	position: fixed;
	top:0;
	left: 0;
	margin:auto;
  width: 100%;
  z-index: 1;
  background-color: #00213f;
}
.navbar {
	/* display:flex; */
  justify-content:center;
  align-items: center;
  width: 90%;
  height: 65px;
  margin-left: 10%;
  min-width: 22.5rem;
}
.logo{
  border-radius: 100px;
  float: left;
  width: 64px;
  height: 64px;


  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 62px;
  background-position-x: 0.05rem;
  background-position-y: 0.2rem;

  background-color: white;
}
.open-menu{
  position: relative;
  float: left;
  margin-top: 7px;
  height: 51px;
  width: 51px;
  display: none;

  background-image: url(img/open-menu.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90px;
  background-position-x: -1.2rem;
}
.open-menu:hover{
  background-color: #00315c;
}
.linkMenu:hover {
  background: #00315c;
}
.user{
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 65px;
  float: right;  
  margin-right: 1%;
}
.logoUser{
  background-image: url(img/userlogo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 51px;
  background-position-y: 0.1rem;

  float: left;
  height: 51px;
  width: 51px;
  margin-top: 7px;
  border-radius: 100px; 
  background-color: white;
}
.ulCover{
  position: absolute;
  top: 0;
  height: 65px;
  margin-left: -1rem;
  display: none;
}
.ulCover:hover{
  display: block;
}
.ulCover:hover .dropDownMenu{
  display: block;
}
.dropDownMenu{
  position: absolute;
  top: 0;
  display: none;
  margin-top: 65px;
  max-width: 12rem;
  /* background-color: #44a4ec; */
  background-color: #00213f;
}
.dropDownMenu:hover{
  display: block;
}
.logoUser:hover{
  background-color: rgb(230, 230, 234);
  background-size: 49px;
  height: 49px;
  width: 49px;
}
.logoUser:hover .ulCover{
  display: block;
}
.log{
  font-size: 1.4rem;
  text-align: center;
  /* color: #9ec4e0; */
  color: white;

}
.log a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
.log a:hover{
  background-color: #002d57;
}
.logged{
  font-size: 1.2rem;
  text-align: center;
}
.logged a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
.logged button{
  width: 100%;
  height: 100%;
  background-color: #00213f;
  color: white;
  border: none;
  font-size: 1.2rem;
}
.logged button:hover{
  background-color: #002d57;
}
.loggedElements:hover{
  background-color: #002d57;
}
.text{
  color: white;
  float: left;
  max-width: 8.5rem;
  max-height: 2.7rem;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  overflow-y: hidden;
  overflow-wrap: break-word;
}
.bag{
  background-image: url(img/cart.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 0.2rem;
  background-position-y: 0.3rem;
  background-size: 40px;

  height: 48px;
  width: 48px;
  margin-top: 10px;
  border-radius: 100px; 
  float: right;
  margin-left: 1rem;
}
.bag:hover{
  background-size: 38px;
}
@media (max-width: 730px){
  .user{
    min-width: 8rem;
    margin-left: 2rem;
  }
  .text{
    display: none;
  }
  .menu{
    display: none;
  }
  .open-menu{
    position: absolute;
    display: block;
  }
  .ulCover{
    width: 6rem;
  }
  .log{
    width: 6rem;
  }
  .logged{
    width: 6rem;
  }
  .log{
    height: 3.5rem;
  }
  .loggedElements{
    height: 3rem;
  }
  .menus{
    top: 0;
    width: 51px;
    height: 65px;

    position: relative;
    float: left;
    margin-left: 2rem;
  }
  .menus:hover .menu{
    display: block;
    position: absolute;
    top: 65px;

    align-items: center;
    justify-content: center;
    margin-left: -1.5rem;
    width: 6rem;
    background-color: #00213f;
  }
  .menus:hover .linkMenu {
    float: left;
    height: 3.5rem;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  .linkMenu p{
    margin: 0;
    margin-top: 1rem;
  }
}
@media (min-width: 730px){
  .user{
    min-width: 17rem;
  }
  .ulCover{
    width: 12rem;
  }
  .log{
    width: 12rem;
  }
  .logged{
    width: 12rem;
  }
  .log{
    height: 2rem;
  }
  .loggedElements{
    height: 2rem;
  }
  .menu {
    width: 12.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    float: left;
  }
  .linkMenu {
    float: left;
    height: 65px;
    width: 6rem;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  .linkMenu p{
    margin: 0;
    margin-top: 1rem;
  }
}