 .topline{
   position: relative;
   float: left;
   width: 100%;
   min-width: 30rem;
   z-index: -1;
}
.textbox{
    position: absolute;
    top: 0;
    left: 50%;
 
    margin-left: -15rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
 
    height: 43rem;
    width: 30rem;
    background-color: white;
 }
 .changePasswd{
    position: relative;
    top: 10%;
    left: 5%;
    width: 90%;
    font-size: 20px;
 }
.change_passwd_logo1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.2rem;
    text-align: left;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Dancing Script';
 }
 .change_passwd_logo2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.2rem;
    text-align: right;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Dancing Script';
 }
#email{
   background-image: url(img/mail.png);
   background-repeat: no-repeat;
   background-position: left;
   background-position-x: 0.2rem;

    border: 2px solid grey;
    border-radius: 10px; 
    height: 50px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: left;
    text-indent: 2.5rem;
    margin-top: 1rem;
 }
 #password,#cpassword{
   background-image: url(img/password.png);
   background-repeat: no-repeat;
   background-position: left;
   background-position-x: 0.2rem;

   border: 2px solid grey;
   border-radius: 10px; 
   height: 50px;
   width: 100%;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   text-align: left;
   text-indent: 2.5rem;
   margin-top: 1rem;
}
 #continue{
    position: absolute;
    top: 4rem;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family: serif;
    border-radius: 10px; 
 }
 #continue:hover{
    background-color: rgb(175, 174, 174);
 }
 #sign_up{
    position: absolute;
    top: 11rem;
    width: 4rem;
    text-align: left;
    font-size: medium;
    font-family: 'Baloo Thambi 2', cursive;
 }
 #login{
    position: absolute;
    top: 11rem;
    margin-left: 21rem;
    width: 3rem;
    text-align: right;
    font-size: medium;
    font-family: 'Baloo Thambi 2', cursive;
 }
*:focus{
    outline: none;
}
.php{
   position: relative;
   text-align: center;
   color: red;
   font-weight: bolder;
   font-size: 1.5rem;
   margin-top: -11rem;
   margin-left: 5%;
   width: 90%;
}
.ll{
   margin-top: -0.2rem;
   position: absolute;
   font-weight: bold;
}