html, body{
   background-color: #E6E6EA;
}
.topline{
   position: relative;
   float: left;
   width: 100%;
   min-width: 58rem;
   z-index: -1;
}
.container{
   position: absolute;
   top: 0;
   left: 50%;

   margin-left: -29rem;
   margin-top: 5rem;
   margin-bottom: 5rem;

   /* min-height: 30rem; */
   width: 58rem;
   border-radius: 10px;
   background-color: #002d57;
}
.shop_logo{
   margin-top: 0;
   text-align: center;
   font-size: 70px;
   font-weight: bold;
   font-family: 'Dancing Script';
   color: white;
}
.php{
  /* text-align: center; */
  margin-top: 1rem;
  margin-left: 1rem;
  width: 56rem;
  /* z-index: 2; */
}
.produs{
   height: 6rem;
   /* background-color: rgb(160, 160, 160); */
   background-color: white;
   margin-bottom: 0.5rem;
   color: black;
   border-radius: 10px;
}
.image{
   float: left;
   height: 100%;
   width: 10%;
   border-radius: 10px;
}
.lbox{
   float: left;
   height: 100%;
   width: 59%;
   margin-left: 1%;
}
.ltop{
   margin-top: 1%;
   height: 65%;
   font-size: larger;
   font-weight: bold;
}
.lbottom{
   margin-top: 1%;
}
.rbox{
   float: right;
   height: 100%;
   width: 30%;
}
input{
   width: 2rem;
   text-align: center;
   float: left;
   margin-left: 0.8rem;
}
input:focus{
  outline: none;
}
.hide{
   display: none;
}
button:focus{
   outline: none;
 }
.refresh{
   background-image: url(img/refresh.png);
   background-repeat: no-repeat;
   background-position: left;
   width: 25px;
   height: 25px;
   background-size: 25px;
   border: 0;
   margin-top: -0.1rem;
   margin-left: 0.4rem;
   float: left;
   background-color: white;
} 
.refresh:hover{
   width: 23px;
   height: 23px;
   background-size: 23px;
}
.rtop{
   height: 50%;
   font-weight: bold;
}
.rlbox{
   float: left;
   width: 33.33%;
   height: 100%;
   text-align: center;
}
.rcbox{
   float: left;
   width: 33.33%;
   height: 100%;
   text-align: center;
}
.rrbox{
   float: right;
   width: 33.33%;
   height: 100%;
   text-align: center;
}
.total{
   text-align: right;
   font-weight: bold;
   font-size: large;
   margin-right: 1rem;
   color: white;
}
.checkout{
   text-align: right;
   font-weight: bolder;
   font-size: 1.5rem;
   width: 87%;
   margin-bottom: 0.5rem;
}
.checkout a{
   color: #002d57;
   background-color: white;
   border-radius: 6px;
   text-decoration: none;
}
.checkout a:hover{
   color: red;
}