html, body{
   background-color: #E6E6EA;
}
.topline{
   position: relative;
   float: left;
   width: 100%;
   min-width: 30rem;
   z-index: -1;
}
.textbox{
   /* position: absolute; */
   top: 0;
   left: 50%;

   margin: auto;
   /* margin-left: -15rem; */
   margin-top: 5rem;
   margin-bottom: 5rem;

   height: 40rem;
   width: 30rem;
   background-color: white;
}
.login{
   position: relative;
   top: 10%;
   left: 5%;
   width: 90%;
   font-size: 20px;
}
.login_logo{
   margin-top: 0;
   text-align: center;
   font-size: 70px;
   font-weight: bold;
   font-family: 'Dancing Script';
}
#email{
   background-image: url(img/mail.png);
   background-repeat: no-repeat;
   background-position: left;
   background-position-x: 0.2rem;

   border: 2px solid grey;
   border-radius: 10px; 
   height: 50px;
   width: 100%;
   font-family: 'Raleway', sans-serif;;
   font-size: 25px;
   text-align: left;
   text-indent: 2.5rem;
}
#password{
   background-image: url(img/password.png);
   background-repeat: no-repeat;
   background-position: left;
   background-position-x: 0.2rem;

   border: 2px solid grey;
   border-radius: 10px; 
   height: 50px;
   width: 100%;
   font-family: 'Raleway', sans-serif;;
   font-size: 25px;
   text-align: left;
   text-indent: 2.5rem;
}
#login_to_account{
   position: absolute;
   top: 5rem;
   height: 50px;
   width: 100%;
   font-size: 16px;
   font-weight: bold;
   font-family: serif;
   border-radius: 10px; 
}
#login_to_account:hover{
   background-color: rgb(175, 174, 174);
}
#forgot_password{
   position: absolute;
   top: 8rem;
   text-align: center;
   font-size: medium;
}
#sign_up{
   position: absolute;
   top: 14rem;
   margin-left: 20rem;
   width: 4rem;
   text-align: right;
   font-size: medium;
   font-family: 'Baloo Thambi 2', cursive;
}
*:focus{
   outline: none;
}
.php{
   position: relative;
   text-align: center;
   color: red;
   font-weight: bolder;
   font-size: 1.5rem;
   margin-top: -8rem;
   margin-left: 5%;
   width: 90%;
}
.ll{
   margin-top: -1.3rem;
   position: absolute;
   font-weight: bold;
}